@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
    padding: 30px;
    margin: 30px;
    border: 1px dashed blue;
    border-radius: 30px;
}

header{
    font-size: 2rem;
    padding: 0 0 20px;
}

h1{
    font-weight: bold;
    padding-bottom: 10px;
}

main{
    border: 1px solid red;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}